   body 
{
    background-color: lightblue;
    Color: black;
}
img 
{
    display: block;
    margin: auto;
    width: 40%;
}

h1 
{
    color: white;
    text-align: center;
    fontsize: 25px;
}
h4 
{
   
 color: white;
    text-align: center;
    fontsize: 25px;
}

