 Body
{
   	background-color: lightblue;
   	color: black;
    }
img 
{
    display: block;
    margin: auto;
    width: 40%;
}
#guppy
 {
    display: block;
    margin: auto;
    width: 40%;
}
.fish 
{
background-color: lightblue;
   	color: black;
}
